
@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="utf-8">
    <title>Hostal El Dorado</title>
    <link href="CSS/estilos.css" rel="stylesheet">
    <!--Asi se vincula una hoja a un estilo-->
    <link href="IMAGEN/loguito.jpg" rel="shortcut icon">
    <!--Para colocar un icono en la pestaña de una hoja-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>





 
<h2>Index</h2>
<nav id="top-header">
    <div class="contenedor">
        <div class="fila">
            <ul class="menu menu-top">
                <li><a href="#">   Inicio </a></li>
                <li><a href="#mision">  Mision </a></li>
                <li><a href="#vision">  Vision </a></li>
                <li><a href="#contactenos">  Contactenos</a> </li>
            </ul>
            <ul class="menu menu-top">
                <li><a href="https://www.facebook.com/hostaleldoradocallao/"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>

            </ul>

        </div><!--fila -->
    </div> <!--Contenedor-->
</nav><!--Fin de top-header-->

 
